:root {
  --text-primary: #111;
  --bg-primary: #fff;

  --blue-100: #1e90ff;
  --blue-200: #0a5eb1;
  --blue-300: #02305f;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: var(--bg-primary);
  width: 100vw;
}
